body{
    margin: 0;
    padding: 0;
    background: #202020;
}
.main{
    background:#FFFFFF;
    width: 600px;
    height: 700px;
    margin: 20px auto;

}
/* menu */

.menu-div{
    
}
.menu-div ul{
    text-align: center;
}
.menu-div ul li{
    display: inline-block;
    margin-top: 20px;   
}
.menu-div ul li a{
    background: #48DBFB;
    color: #000000;
    text-decoration: none;
    padding: 10px;  
    transition: .5s;
}
.menu-div ul li a:hover{
    background: #fff200;
    color: #7d5fff;
}

/* container-1 */

.container-1{
    background: #48DBFB;
    text-align: center;
    padding: 40px auto;
}
.container{
    padding-top: 40px ;
    padding-bottom: 40px;
    color: #ffffff;
    
}
.container button{
    padding: 10px;
}

/* container-2 */
.container-2{
    text-align: center;
}
.container-2 .text{
    padding-top: 40px;
}
.container-2 .text p{
    color: #4b4b4b;
}
.box{
    position: relative;

}
.common{
    width: 50px;
    height: 26px;
    background: #000000;
    margin: 5px;
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    
}
.step-1{
    position: absolute;
    top: 5px;
    left: 73px;
    transform: rotate(-42deg);
    transition: .5s;
}
.step-1:hover{
    transform: rotate(0);
}
.step-2{
    position: absolute;
    top: 1px;
    left: 242px;
    transition: .5s;
}
.step-2:hover{
    transform: scale(2);
}
.step-3{
    position: absolute;
    top: 7px;
    right: 100px;
    transform: rotate(-136deg);
    transition: .5s;
}
.step-3:hover{
    transform: rotate(360deg);
}
.footer{
    background: #2E2F31;
    color: #FFFFFF;
    margin-top: 91px;
    padding: 2px;
    text-align: center;
}